<div class="header">
  <h1>
  <i class="fa fa-laptop"></i>
  <%= "#{@pin.title}" %>
  </h1>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="<%= @pin.image.url(:thumb) %>">
        <p><%= "#{@pin.text}" %></p>
      </div>
      <hr/>
      <p>
        <b>Visit <%= "#{@pin.title}" %> at: </b>
        <%= link_to "#{@pin.url}", "#{@pin.url}", html_options = {target: "_blank", class: "url"} %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="header">
      <h3>Current Pinners:</h3>
    </div>
    <% @users.each_slice(3) do |row| %>
    <div class="row">
      <% row.each do |user| %>
      <div class="col-xs-12">
         <%= "#{user.first_name}" %>&nbsp;<%= "#{user.last_name}" %>
      </div>
        <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
<div class="col-xs-12">
<hr />
  <%= render partial: "shared/repin_form", locals: {pin: @pin} %>
  </div>
</div>
<div class="row">
<hr />
<div class="col-xs-12">
  <a href="/">
    <i class="fa fa-home" aria-hidden="true"></i>
    Back to Home
  </a>
  </div>
</div>