<div class="repin_form">
<% if logged_in? %>
  <%= form_for(pin, url: repin_path(pin), method: "post") do |f| %>
    <%= f.fields_for :pinning do |p| %>
     <div class="row">
      <div class="col-md-6">
       <div class="form-group">
        <label>Repin to one of your boards?</label>
        <%= p.collection_select(:board_id, current_user.boards, :id, :name, {}, {class: "form-control"}) %>
      </div>
      </div>
       <%= p.hidden_field :user_id, value: current_user.id %>    
    <% end %>
    <div class="col-md-6" id="repin_btn">
    <%= f.button :submit, class: "btn btn-default" do %>
    <i class="fa fa-thumb-tack"></i> Repin!
    <% end %>
  <% end %>
  </div>
  </div>
<% else %>
  <br><%= link_to "Log in to repin!", login_path %>
<% end %>
</div>