<h1>Listing Boards</h1>

<div class="panel">
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>User</th>
        <th>Followers</th>
        </tr>
      </thead>

      <tbody>
      <% @boards.each do |board| %>
        <tr>
        <td><%= board.name %></td>
        <td><%= board.user.full_name  %></td>
        <td><%= link_to 'Show', board %></td>

        <% if board.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Delete', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Board', new_board_path, class: "btn btn-default" %>
